@import url('https://fonts.googleapis.com/css?family=Russo+One');
* {
  box-sizing: border-box;
}

body {
  font-family: 
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background: #87b5b5;
 
}

h1{
  text-align: center;
}
label{
  display: block;
  text-align: center;
font-size:1rem ;
  font-weight: bold;
  background-color: #224b4b;
  width:80%;
  justify-content: center;
   margin-left:10%;
   margin-top: 20px;
   color:aliceblue;
}
#preview,
textarea {
  background-color: #c0d8d8;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
  border-top: none;
width:80%;
   margin-left:10%;
   margin-top: none;
}






 textarea {
 
  min-height: 300px;
  outline: none;
  padding: 10px;
 
 

  font-size: 0.875rem;
}






@media screen and (max-width: 650px) {
  body {
    margin: 5px 0;
  }

  .editor {
    width: 80vw;
    margin: 0 auto;
  }

 
  .preview {
    width: 90vw;
  }
}
#preview {
  padding: 0 1rem;
}
#preview blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}
#preview > p > code {
  padding: 3px;
}
#preview code {
  background: white;
  font-size: 0.875rem;
  font-weight: bold;
}
#preview pre {
  display: block;
  overflow: auto;
  background: white;
  padding: 5px;
  line-height: 1.2;
}
#preview h1 {
  border-bottom: 2px solid #224b4b;
}
#preview h2 {
  border-bottom: 1px solid #224b4b;
}
#preview table {
  border-collapse: collapse;
}
#preview td,
#preview th {
  border: 2px solid #224b4b;
  padding-left: 5px;
  padding-right: 5px;
}
#preview img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

@media screen and (max-width: 420px) {
  body {
    font-size: 0.875rem;
  }
}
